/*================================== GENERAL =================================*/
* {margin: 0;padding: 0;}
body {
    font: 12px roboto, sans-serif;
    color: #999;
    padding: 0 30px 50px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.clearfix:before, .clearfix:after {display: table;content: "";clear: both;}
h1 {text-align: center;color: #666;}
h2 {color: #666;margin: 30px 0 10px;position: relative;}

p.intro {margin: 0;padding: 20px 0 30px;text-align: center;}

a {
    color: #f33;
    text-decoration: none;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
}
a:hover {color: #c11;}
a[name] {position: absolute;top: -60px;/* When accessing an anchor from url hash, give enough space for sticky bar. */}
:before {vertical-align: middle;}
input.toggle {position: fixed;top: -1em;left: -1em;z-index: -1;}

@media screen and (max-width: 560px) {
    body {padding-left: 10px;padding-right: 10px;}
}
/*============================================================================*/


/*================================ TOP BAR ===================================*/
.topbar-wrapper {
    position: relative;
    height: 50px;
    margin-bottom: 60px;
    z-index: 10;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(200,200,200,.2);
}
.topbar-inner {
    margin: auto;
    max-width: 1200px;
}
.topbar-logo {float: left;font-size: 140%;height: 100%;}
.topbar-logo:before {
    font-size: 200%;
    padding-right: 20px;
    padding-left: 5px;
    display: inline-block;
    color: #eee;
    animation: morph 30s infinite linear;
}

@-webkit-keyframes morph {
    0%, 100% {webkit-transform: scaleX(1.5) skewX(-15deg) rotate(5deg);}
    25% {webkit-transform: scaleX(1.3) skewX(15deg) rotate(-5deg);}
    50% {webkit-transform: scaleX(1) skew(-5deg, 15deg);}
    75% {webkit-transform: scaleX(1.2) skewY(-5deg) rotate(5deg);}
}

@keyframes morph {
    0%, 100% {transform: scaleX(1.5) skewX(-15deg) rotate(5deg);}
    25% {transform: scaleX(1.3) skewX(15deg) rotate(-5deg);}
    50% {transform: scaleX(1) skew(-5deg, 15deg);}
    75% {transform: scaleX(1.2) skewY(-5deg) rotate(5deg);}
}

.topbar-menu {float: right;font-size: 130%;}
.topbar-menu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.topbar-menu li a, .topbar-menu li > span {margin-left: 20px;color: #f33;}
.topbar-menu li a:hover, .topbar-menu li > span:hover {color: #c11;}
.topbar-menu :before {font-size: 140%;padding-right: 10px;}
.topbar-menu .i-arr-d:before {font-size: 100%;padding-right: 0;color: #ccc;}

.topbar-submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: -8px;
    background-color: rgba(255,255,255,.95);
    border: 1px solid rgba(200,200,200,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    font-size: 90%;
}
li:hover .topbar-submenu {
    display: block;
}
.topbar-submenu li {
    position: relative;
    text-align: right;
    display: block;
}
.topbar-submenu li a {
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 35px;
    margin: 0;
    line-height: 2.2em;
    font-size: 95%;
    display: block;
    border-right: 3px solid transparent;
}
.topbar-submenu li a.active {border-right-color: #f33;}
.topbar-submenu li a.active:before {opacity: .5;}
.topbar-submenu li a:hover {
    background-color: #f8f8f8;
    border-right-color: #f33;
    padding-left: 30px;
    padding-right: 25px;
}
.topbar-submenu li a:hover:before {
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}
.topbar-submenu li a:before {
    font-size: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: inherit;
    right: 0;
    color: #ccc;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

@media screen and (max-width: 1200px) {
    .topbar-inner {padding-left: 10px;padding-right: 10px;}
}
@media screen and (max-width: 560px) {
    .topbar-menu li :before {padding-right: 0;}
    .topbar-menu li a, .topbar-menu li > span {padding-left: 40px;margin-left: 0;}
    .topbar-menu li a {padding-left: 20px;}
    .topbar-menu li a span, .topbar-menu li span span {display: none;}
    .topbar-submenu {left: auto;right: 0;}
    .topbar-submenu li a:before {right: 10px;}
}
@media screen and (max-width: 350px) {
    .topbar-menu li a, .topbar-menu li > span {padding-left: 10px;}
}
/*============================================================================*/



/*=============================== DOCUMENTATION ==============================*/
.documentation {margin: auto;max-width: 1200px;}
.documentation h2 {margin-top: 70px;padding-bottom: 10px;margin-bottom: 20px;border-bottom: 1px solid #eee;}
.documentation h2:first-child {margin-top: 30px;}
.documentation h2:before {padding-right: 5px;}

.documentation h2 ~ * {margin-left: 30px;}
.documentation h2 {margin-left: 0px;}
.documentation p {margin-top: 10px;}
.documentation h3 {margin-top: 30px;font-size: 140%;font-weight: normal;color: #888;}
.documentation h3:before {content: '#';color: #ddd;padding-right: 10px;}
.warning {background-color: #fee;border: 1px solid #fdd;padding: 10px;}
.warning span {color: #f66;display: inline-block;padding-right: 10px;}
/*============================================================================*/



/*================================ CODE WRAPPER ==============================*/
#see-the-code + label {
    position: relative;
    margin: 0 auto;
    width: 10em;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #ccc;
    display: block;
    cursor: pointer;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
}
#see-the-code + label:before {
    position: absolute;
    top: 100%;
    font-size: 200%;
    border-radius: 1.2em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    display: inline-block;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    -webkit-transition: all .9s ease-in-out, color .4s linear, border-color .4s linear;
    -o-transition: all .9s ease-in-out, color .4s linear, border-color .4s linear;
    transition: all .9s ease-in-out, color .4s linear, border-color .4s linear;
    z-index: 2;
}
#see-the-code:checked + label:before {
    -webkit-transform: translateY(20px) rotate(135deg);
    -ms-transform: translateY(20px) rotate(135deg);
    -o-transform: translateY(20px) rotate(135deg);
    transform: translateY(20px) rotate(135deg);
}
#see-the-code + label:hover,
#see-the-code + label:hover:before {color: #999;border-color: #999;}

.code-section {
    max-height: 0px;
    overflow: hidden;
    position: relative;
    background-color: #f8f8f8;
    margin: 40px -30px 30px;
    padding: 0px 30px;
    -webkit-transition: 1.5s cubic-bezier(0, 1, 0, 1);
    -o-transition: 1.5s cubic-bezier(0, 1, 0, 1);
    transition: 1.5s cubic-bezier(0, 1, 0, 1);
}
#see-the-code:checked ~ .code-section {
    max-height: 550px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 35px;
    padding-bottom: 15px;
    -webkit-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
}
.code-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2em;
    right: -2em;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
}
.code-wrapper {
    position: relative;
    margin: 30px 0 10px 55px;
    border: 1px solid #eee;
    background-color: #fbfbfb;
    padding: 8px;
    border-radius: 4px;
    color: #444;
    min-height: 200px;
    max-height: 100%;
}
.code-wrapper.no-tabs {min-height: 0;}
.code-wrapper:before {
    position: absolute;
    left: -25px;
    font-size: 140%;
    color: #ccc;
}
.code-wrapper pre:before {display: none;}
.code-wrapper label,
.code-wrapper.no-tabs:after {
    text-transform: capitalize;
    position: absolute;
    right: 10px;
    bottom: 100%;
    padding: 3px 8px;
    font-size: 140%;
    background-color: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 3px 3px 0 0;
    font: 100% roboto, sans-serif;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.code-wrapper.no-tabs:after {
    content: attr(data-type);
    position: absolute;
    right: 10px;
    bottom: 100%;
    color: #ccc;
    border-bottom-color: #fbfbfb;
}

.code-wrapper label {
    float: right;
    position: relative;
    display: inline-block;
    top: -30px;
    margin: 0 1px;
    color: #bbb;
    background-color: #f2f2f2;
    cursor: pointer;
}
.code-wrapper label:hover {
    background-color: #fbfbfb;
}
.code-wrapper input:checked + label {
    border-bottom-color: #fbfbfb;
    background-color: #fbfbfb;
    color: #666;
}
.code-wrapper input {
    position: absolute;
}
.code-wrapper input[data-type="html"]:checked ~ pre[data-type="html"],
.code-wrapper input[data-type="css"]:checked ~ pre[data-type="css"],
.code-wrapper input[data-type="javascript"]:checked ~ pre[data-type="javascript"],
.code-wrapper input[data-type="result"]:checked ~ pre[data-type="result"] {z-index: 2;}

.code-wrapper pre,
.code-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;/* For iframe*/
    max-height: 100%;
    box-sizing: border-box;
    background-color: #fbfbfb;
    z-index: 1;
    overflow: auto;
}
.code-wrapper pre {padding: 10px;}
.code-wrapper.no-tabs pre {position: static;height: auto;padding: 0;}
.code-wrapper iframe {width: 100%;border: none;}

pre .comment {font-style: italic;color: #aaa;}
pre .comment * {color: #aaa !important;}
pre .quote {color: #c11;}
pre .value {color: #c11;}
pre .quote * {color: #c11 !important;}
pre .number {color: #c11;}
pre .bool {color: #c11;}
pre .keyword {color: #11c;}
pre .tag {color: #11c;}
pre .ponctuation {color: #66c;}
pre .dollar {color: #f63;}
pre .attribute {color: #f63;}
pre[data-type="css"] .attribute {color: #70d;}
pre[data-type="css"] .keyword {color: #c06;}
pre .selector {color: #f0d;}

.param span {color: #f33;}
.param em {color: #ccc;}
.param code {font-weight: bold;}

@media screen and (max-width: 560px) {
    #see-the-code ~ .code-section {margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px;}
    .code-wrapper {margin-left: 30px;}
    .code-wrapper:before {display: none;}
}
@media screen and (max-width: 480px) {
    h2 ~ * {margin-left: 0;}
    .code-wrapper {margin-left: 0;}
}
/*============================================================================*/



/*============================== LOADING SPINNER =============================*/
.loading:before, .loading:after, .loading {
   border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation: load7 1.8s infinite ease-in-out;
   animation: load7 1.8s infinite ease-in-out;
}
.loading {
    font-size: 1em;
    margin: -0.5em auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    opacity: 1;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loading:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading:after {
    left: 3.5em;
}

.loading:before, .loading:after {
    content: '';
    position: absolute;
    top: 0;
}

.ready > .loading {opacity: 0;}


 @-webkit-keyframes load7 {
   0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em rgba(100,100,100, 0.2); }
   40% {box-shadow: 0 2.5em 0 0 rgba(100,100,100, 0.2); } }

 @keyframes load7 {
   0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em rgba(100,100,100, 0.2); }
   40% {box-shadow: 0 2.5em 0 0 rgba(100,100,100, 0.2); } }
/*=========================== End of LOADING SPINNER =========================*/