/*================================== GENERAL =================================*/
* {margin: 0;padding: 0;}
body {
    font: 12px roboto, sans-serif;
    color: #999;
    padding: 0 30px 50px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.clearfix:before, .clearfix:after {display: table;content: "";clear: both;}
h1 {text-align: center;color: #666;}
h2 {color: #666;margin: 30px 0 10px;}
p.intro {margin: 0;padding: 20px 0 30px;text-align: center;}
a {
    color: #f33;
    text-decoration: none;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
}
a:hover {color: #c11;}
:before {vertical-align: middle;}

@media screen and (max-width: 560px) {
    body {padding-left: 10px;padding-right: 10px;}
}
/*============================================================================*/


/*================================ TOP BAR ===================================*/
.topbar-wrapper {
    position: relative;
    height: 50px;
    margin-bottom: 90px;
    z-index: 2;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(200,200,200,.2);
}
.topbar-inner {
    margin: auto;
    max-width: 1200px;
}
.topbar-logo {float: left;font-size: 140%;height: 100%;}
.topbar-logo:before {
    font-size: 200%;
    padding-right: 20px;
    display: inline-block;
    color: #eee;
    animation: morph 30s infinite linear;
}

@-webkit-keyframes morph {
    0%, 100% {webkit-transform: scaleX(1.5) skewX(-15deg) rotate(5deg);}
    25% {webkit-transform: scaleX(1.3) skewX(15deg) rotate(-5deg);}
    50% {webkit-transform: scaleX(1) skew(-5deg, 15deg);}
    75% {webkit-transform: scaleX(1.2) skewY(-5deg) rotate(5deg);}
}

@keyframes morph {
    0%, 100% {transform: scaleX(1.5) skewX(-15deg) rotate(5deg);}
    25% {transform: scaleX(1.3) skewX(15deg) rotate(-5deg);}
    50% {transform: scaleX(1) skew(-5deg, 15deg);}
    75% {transform: scaleX(1.2) skewY(-5deg) rotate(5deg);}
}

.topbar-menu {float: right;font-size: 130%;}
.topbar-menu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.topbar-menu li a, .topbar-menu li > span {margin-left: 20px;color: #f33;}
.topbar-menu li a:hover, .topbar-menu li > span:hover {color: #c11;}
.topbar-menu :before {font-size: 140%;padding-right: 10px;}
.topbar-menu .i-arr-d:before {font-size: 100%;padding-right: 0;color: #ccc;}

.topbar-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1.8em;
    background-color: rgba(255,255,255,.95);
    border: 1px solid rgba(200,200,200,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    font-size: 90%;
    padding: 10px 0;
}
li:hover .topbar-submenu {
    display: block;
}
.topbar-submenu li {
    white-space: nowrap;
    display: block;
}
.topbar-submenu li .i-arr-r:before {font-size: 90%;padding-right: 5px;color: #ccc;}

@media screen and (max-width: 1200px) {
    .topbar-inner {padding-left: 10px;padding-right: 10px;}
}
@media screen and (max-width: 560px) {
    .topbar-menu li :before {padding-right: 0;}
    .topbar-menu li a, .topbar-menu li > span {padding-left: 40px;margin-left: 0;}
    .topbar-menu li a span, .topbar-menu li span span {display: none;}
    .topbar-submenu {left: auto;right: 0;}
}
@media screen and (max-width: 350px) {
    .topbar-menu li a, .topbar-menu li > span {padding-left: 10px;}
}

/*============================================================================*/







/*============================== LOADING SPINNER =============================*/
.loading:before, .loading:after, .loading {
   border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation: load7 1.8s infinite ease-in-out;
   animation: load7 1.8s infinite ease-in-out;
}
.loading {
    font-size: 1em;
    margin: -0.5em auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    opacity: 1;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loading:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading:after {
    left: 3.5em;
}

.loading:before, .loading:after {
    content: '';
    position: absolute;
    top: 0;
}

.ready > .loading {opacity: 0;}


 @-webkit-keyframes load7 {
   0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em rgba(100,100,100, 0.2); }
   40% {box-shadow: 0 2.5em 0 0 rgba(100,100,100, 0.2); } }

 @keyframes load7 {
   0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em rgba(100,100,100, 0.2); }
   40% {box-shadow: 0 2.5em 0 0 rgba(100,100,100, 0.2); } }
/*=========================== End of LOADING SPINNER =========================*/