.documentation {margin: auto;max-width: 1200px;}
h2 {margin-top: 70px;padding-bottom: 10px;margin-bottom: 20px;border-bottom: 1px solid #eee;}
h2:first-child {margin-top: 30px;}
h2:before {padding-right: 5px;}

h2 ~ * {margin-left: 30px;}
h2 {margin-left: 0px;}

p {margin-top: 10px;}
h3 {margin-top: 30px;font-size: 140%;font-weight: normal;color: #888;}

.code-wrapper {
    position: relative;
    margin: 30px 0 10px 55px;
    border: 1px solid #eee;
    background-color: #fbfbfb;
    padding: 8px;
    border-radius: 4px;
    color: #444;
}
.code-wrapper {min-height: 200px;}
.code-wrapper.no-tabs {min-height: 0;}
.code-wrapper:before {
    position: absolute;
    left: -25px;
    font-size: 140%;
    color: #ccc;
}
.code-wrapper pre:before {display: none;}
.code-wrapper label,
.code-wrapper.no-tabs:after {
    text-transform: capitalize;
    position: absolute;
    right: 10px;
    bottom: 100%;
    padding: 3px 8px;
    font-size: 140%;
    background-color: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 3px 3px 0 0;
    font: 100% roboto, sans-serif;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.code-wrapper.no-tabs:after {
    content: attr(data-type);
    position: absolute;
    right: 10px;
    bottom: 100%;
    color: #ccc;
    border-bottom-color: #fbfbfb;
}

.code-wrapper label {
    float: right;
    position: relative;
    display: inline-block;
    top: -30px;
    margin: 0 1px;
    color: #bbb;
    background-color: #f2f2f2;
    cursor: pointer;
}
.code-wrapper label:hover {
    background-color: #fbfbfb;
}
.code-wrapper input:checked + label {
    border-bottom-color: #fbfbfb;
    background-color: #fbfbfb;
    color: #666;
}
.code-wrapper input {
    position: absolute;
}
.code-wrapper input[data-type="html"]:checked ~ pre[data-type="html"],
.code-wrapper input[data-type="css"]:checked ~ pre[data-type="css"],
.code-wrapper input[data-type="javascript"]:checked ~ pre[data-type="javascript"],
.code-wrapper input[data-type="result"]:checked ~ pre[data-type="result"] {z-index: 2;}

.code-wrapper pre,
.code-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;/* For iframe*/
    box-sizing: border-box;
    background-color: #fbfbfb;
    z-index: 1;
    overflow: auto;
}
.code-wrapper pre {padding: 10px;}
.code-wrapper.no-tabs pre {position: static;height: auto;padding: 0;}
.code-wrapper iframe {width: 100%;border: none;}


pre .comment {font-style: italic;color: #aaa;}
pre .comment * {color: #aaa !important;}
pre .quote {color: #c11;}
pre .value {color: #c11;}
pre .quote * {color: #c11 !important;}
pre .number {color: #c11;}
pre .bool {color: #c11;}
pre .keyword {color: #11c;}
pre .tag {color: #11c;}
pre .ponctuation {color: #66c;}
pre .dollar {color: #f63;}
pre .attribute {color: #f63;}
pre[data-type="css"] .attribute {color: #70d;}
pre[data-type="css"] .keyword {color: #c06;}
pre .selector {color: #f0d;}

@media screen and (max-width: 560px) {
    .code-wrapper {margin-left: 30px;}
    .code-wrapper:before {display: none;}
}
@media screen and (max-width: 480px) {
    h2 ~ * {margin-left: 0;}
    .code-wrapper {margin-left: 0;}
}

@media screen and (max-width: 350px) {
}
