.thegrid {
    position: relative;
    min-height: 200px;
}
.thegrid .cell {
    position: absolute;
    height: 100px;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    padding: 10px;
}
.cell > div {
    position: relative;
    width: 100%;
    height: 100%;
}